@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$text-light-dark: #939191A4;
$text-light-dark-hover: #939191FF;
$color-red: #d72d2f;
$color-orange: #f15a22;
$color-dark: #43403eFF;
$min-transition: all 0.5s ease;

*{
    font-family: 'Roboto', sans-serif;
}
body{
    color: $color-dark;
    overflow-x: hidden;
}



// *************************** components ***************************
.header{
    transition: all 0.5s ease;
    .nav-list{
        display: flex;
        align-items: center;
        gap: 2rem;
        color: $text-light-dark;
        font-size: 0.9rem;
        a{
            padding: 0.5rem;
            transition: $min-transition;
            &:hover{
                color: $text-light-dark-hover;
            }
        }
    }

    &.active-stick-top{
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(2px);
    }
}

.hero{
    position: relative;
    video{
        width: 55vw;
        object-fit: cover;
        height: auto;
        border-radius: 40% 0 0 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    @media only screen and (max-width: 980px){
        video{
            width: 50vw;
        }
    }
    // mobile
    @media only screen and (max-width: 800px){
        video{
            position: static;
            width: 100%;
            border-radius: 50% 0 0 0;
            margin-top: 5rem;
        }
    }
}

.bg-image-section{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ,url('./media//london-areal.jpg');
    color: #fff;
    padding: 150px 0;
    button{
        background-color: #fff;
    }
}

// *************************** overrides ***************************



// *************************** utils ***************************
.text-grad{
  background: -webkit-linear-gradient(0deg, $color-red, $color-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-btn{
    border: 2px solid $color-orange;
    border-radius: 2px 1.5rem;
    font-weight: 500;
    padding: 0.8rem 1.5rem;
    background: transparent;
    transition: all 0.2s ease;
    &:hover{
        color: #fff;
        background: linear-gradient(90deg, $color-red, $color-orange);
    }
}
@media only screen and (max-width: 600px){
    .custom-btn{
        font-size: 1.5rem;
    }
}